<a href="https://colab.research.google.com/github/uday-kumar-1996/project-on-global-terrorism/blob/main/Project_on_global_terrorism.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name - Global Terrorism Database**

### **Project Type**- EDA/Global Terrorism Database project
### **Contribution** - Team
### **Team Member 1** - **Uday kumar V**
### **Team Member 2** - **Tilak R**

# ***Project Summary-***

**Definition of terrorism** :

"The threatened or actual use of illegal force and violence by a non-state actor to attain a political, economic, religious, or social goal through fear, coercion, or intimidation."The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.

**Geogryaph**: All across the globe

**Time period**: 1970-2017,

**Units of analysis**: Attack, Years, Region, Cities, Property etc..

**Variables**: >100 variables on location, tactics, perpetrators, targets, and outcomes

# **Exploratory Data Analysis**

What is Exploratory Data Analysis (EDA) ?

EDA is a phenomenon under data analysis used for gaining a better understanding of data aspects like: – main features of data – variables and relationships that hold between them – identifying which variables are important for our problem We shall look at various exploratory data analysis methods like:

* Descriptive Statistics, which is a way of giving a brief overview of the dataset we are dealing with, including some measures and features of the sample Grouping data [Basic grouping with group by]
  
* ANOVA, Analysis Of Variance, which is a computational method to divide variations in an observations set into different components.

* Correlation and correlation methods

## **Types of Exploratory Data Analysis**:
*   Univariate (Graphical & Non-graphical)
*   Multivariate (Graphical & Non-graphical)

As there are many aspects of Exploratory Data Analysis, we first tried to sort the task in chronological order.

*  **Understanding the problem statement**: This is the most important part of any analysis as we must understand the needs of customer for which they require analysis on and work as per their requirements.

*   **Know your Data**: Dealing with a huge data set is a time connsuming part. To minimize the workload and efforts we must have to distribute data and analyze the contents first.

*   **Handling missing values** : Removing the unnecessary part while handling missing values and data cleaning.

*  **Univariate Analysis (Graphical & Non-graphical)** : We'll look at each variable and do a philosophical analysis about their meaning and importance for this problem.


*   **Multivariate Analysis (Graphical & Non-graphical)**: We'll try to understand how the dependent variables and independent variables relate.


*  **Observations**: For each analysis an observation plays an important role as we must explain, to the customer, what are the observations we are getting from the visualization part, which is important from the apects of customer.

*  **Conclusion**: Conclusions drive you to summarize the key supporting ideas you discussed throughout the work, and offer your final impression on the central idea.

## **Problem Statement**

Terrorism has been one of the biggest challenge that humans are facing all across the world. The global Terrorism database has provided a dataset which explains the various factors that have been affected all across the world over the years. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.
The main objective of this project is to analyse few key findings such as :
1. Year wise attacks
2. Casualities across the years
3. Cities based on safety
4. Total attacks over the regions and years.
5. Region wise attacks
6. Removal of stop words and most targeted cities using wordclod
7. Percentage of attacks in country
8. Ransom received and property damaged over the years

## **Lets first understand and get the idea about all major variables that we used in the our csv file**
There are 135 variables in Dataset after the first glance of Dataset found that most of the variables has hight number of NaN values. Each observation is belong the a particular attack and below is description of variables by which details of attack is captured.

**iYear** - year when the attack happen

**imonth**- month in which the attack happen

**iDay**- Day of the month in which the attack happen

**region** - Region where attack happen

**country_txt**- Name of the country where atttack happen

**city**- Name of the city of the country

**attacktype**= Type of Attack(ie. Assassination,Bombing/Explosion.....)

**target_type**- Type of a target(ie.Private Citizens & Property,Government (Diplomatic)......)

**group**- Name of the terrorist group who takes attackes responsibility .

**weapon_type**- Type of the weapon used

**killed**- Numeber of people killed in attack

**wounded**- Number of people injured in Attack

## **DATA WRANGLING AND CLEANING**

In [7]:
# importing libraries to be used
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
working_dir_path ='/content/Global Terrorism Data.csv'
df = pd.read_csv(working_dir_path ,encoding="ISO-8859-1")

<ipython-input-8-78d1397b5b46>:2: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(working_dir_path ,encoding="ISO-8859-1")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: Error: credential propagation was unsuccessful

In [9]:
dataset = df.copy()

In [10]:
dataset

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia: Al-Shabaab Militants Attack Army Che...","""Highlights: Somalia Daily Media Highlights 2 ...","""Highlights: Somalia Daily Media Highlights 1 ...",START Primary Collection,0,0,0,0,NaN
181687,201712310029,2017,12,31,NaN,0,NaN,200,Syria,10,...,NaN,"""Putin's 'victory' in Syria has turned into a ...","""Two Russian soldiers killed at Hmeymim base i...","""Two Russian servicemen killed in Syria mortar...",START Primary Collection,-9,-9,1,1,NaN
181688,201712310030,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Maguindanao clashes trap tribe members,"" Phil...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181689,201712310031,2017,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Trader escapes grenade attack in Imphal,"" Bus...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181690,201712310032,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Security tightened in Cotabato following IED ...","""Security tightened in Cotabato City,"" Manila ...",NaN,START Primary Collection,-9,-9,0,-9,NaN

In [11]:
# Getting first 5 rows to get the general overview of dataframe
df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [12]:
#checking how many total coloums and rows present in Data Frame it will show like(tota_rows,total_columns)
df.shape

(181691, 135)

In [13]:
# Getting the details of attributes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [14]:
#get the details of columns(Variables)
df.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

In [15]:
# Checking how many variables has more than 70% NaN values and store the name of columns in the list columns_with_NaN
columns_with_NaN = [i for i in df.columns if df[i].isna().sum()*100/len(df)>70]
columns_with_NaN

['approxdate',
 'resolution',
 'alternative',
 'alternative_txt',
 'attacktype2',
 'attacktype2_txt',
 'attacktype3',
 'attacktype3_txt',
 'targtype2',
 'targtype2_txt',
 'targsubtype2',
 'targsubtype2_txt',
 'corp2',
 'target2',
 'natlty2',
 'natlty2_txt',
 'targtype3',
 'targtype3_txt',
 'targsubtype3',
 'targsubtype3_txt',
 'corp3',
 'target3',
 'natlty3',
 'natlty3_txt',
 'gsubname',
 'gname2',
 'gsubname2',
 'gname3',
 'gsubname3',
 'motive',
 'guncertain2',
 'guncertain3',
 'claimmode',
 'claimmode_txt',
 'claim2',
 'claimmode2',
 'claimmode2_txt',
 'claim3',
 'claimmode3',
 'claimmode3_txt',
 'compclaim',
 'weaptype2',
 'weaptype2_txt',
 'weapsubtype2',
 'weapsubtype2_txt',
 'weaptype3',
 'weaptype3_txt',
 'weapsubtype3',
 'weapsubtype3_txt',
 'weaptype4',
 'weaptype4_txt',
 'weapsubtype4',
 'weapsubtype4_txt',
 'propvalue',
 'nhostkid',
 'nhostkidus',
 'nhours',
 'ndays',
 'divert',
 'kidhijcountry',
 'ransomamt',
 'ransomamtus',
 'ransompaid',
 'ransompaidus',
 'ransomnote',
 'hostkidoutcome',
 'hostkidoutcome_txt',
 'nreleased',
 'addnotes',
 'scite3',
 'related']

In [16]:
 #Now dropping all the columns with more than 70% NaN values from data frame (axis=1 for column)
df.drop(columns_with_NaN,inplace=True,axis=1)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 64 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   eventid           181691 non-null  int64
 1   iyear             181691 non-null  int64
 2   imonth            181691 non-null  int64
 3   iday              181691 non-null  int64
 4   extended          181691 non-null  int64
 5   country           181691 non-null  int64
 6   country_txt       181691 non-null  object
 7   region            181691 non-null  int64
 8   region_txt        181691 non-null  object
 9   provstate         181270 non-null  object
 10  city              181256 non-null  object
 11  latitude          177135 non-null  float64
 12  longitude         177134 non-null  float64
 13  specificity       181685 non-null  float64
 14  vicinity          181691 non-null  int64
 15  location          55495 non-null   object
 16  summary           115562 non-null  object
 17  crit1             181691 non-null  int64
 18  crit2             181691 non-null  int64
 19  crit3             181691 non-null  int64
 20  doubtterr         181690 non-null  float64
 21  multiple          181690 non-null  float64
 22  success           181691 non-null  int64
 23  suicide           181691 non-null  int64
 24  attacktype1       181691 non-null  int64
 25  attacktype1_txt   181691 non-null  object
 26  targtype1         181691 non-null  int64
 27  targtype1_txt     181691 non-null  object
 28  targsubtype1      171318 non-null  float64
 29  targsubtype1_txt  171318 non-null  object
 30  corp1             139139 non-null  object
 31  target1           181053 non-null  object
 32  natlty1           180132 non-null  float64
 33  natlty1_txt       180132 non-null  object
 34  gname             181691 non-null  object
 35  guncertain1       181311 non-null  float64
 36  individual        181691 non-null  int64
 37  nperps            110576 non-null  float64
 38  nperpcap          112202 non-null  float64
 39  claimed           115571 non-null  float64
 40  weaptype1         181691 non-null  int64
 41  weaptype1_txt     181691 non-null  object
 42  weapsubtype1      160923 non-null  float64
 43  weapsubtype1_txt  160923 non-null  object
 44  weapdetail        114021 non-null  object
 45  nkill             171378 non-null  float64
 46  nkillus           117245 non-null  float64
 47  nkillter          114733 non-null  float64
 48  nwound            165380 non-null  float64
 49  nwoundus          116989 non-null  float64
 50  nwoundte          112548 non-null  float64
 51  property          181691 non-null  int64
 52  propextent        64065 non-null   float64
 53  propextent_txt    64065 non-null   object
 54  propcomment       57959 non-null   object
 55  ishostkid         181513 non-null  float64
 56  ransom            77381 non-null   float64
 57  scite1            115500 non-null  object
 58  scite2            76933 non-null   object
 59  dbsource          181691 non-null  object
 60  INT_LOG           181691 non-null  int64
 61  INT_IDEO          181691 non-null  int64
 62  INT_MISC          181691 non-null  int64
 63  INT_ANY           181691 non-null  int64
dtypes: float64(21), int64(22), object(21)
memory usage: 88.7+ MB

In [21]:
# Now change variable name into meaningful variable for better understanding
df.rename(columns={'iyear':'Year','imonth':'Month','iday':'Day','country_txt':'Country','provstate':'state','region_txt':'Region',
                       'attacktype1_txt':'AttackType','targtype1_txt':'Target','nkill':'fatalities','nwound':'injuries',
                       'summary':'Summary','gname':'Group','weaptype1_txt':'Weapon'},inplace=True)

In [22]:
df.columns

Index(['eventid', 'Year', 'Month', 'Day', 'extended', 'country', 'Country',
       'region', 'Region', 'state', 'city', 'latitude', 'longitude',
       'specificity', 'vicinity', 'location', 'Summary', 'crit1', 'crit2',
       'crit3', 'doubtterr', 'multiple', 'success', 'suicide', 'attacktype1',
       'AttackType', 'targtype1', 'Target', 'targsubtype1', 'targsubtype1_txt',
       'corp1', 'target1', 'natlty1', 'natlty1_txt', 'Group', 'guncertain1',
       'individual', 'nperps', 'nperpcap', 'claimed', 'weaptype1', 'Weapon',
       'weapsubtype1', 'weapsubtype1_txt', 'weapdetail', 'fatalities',
       'nkillus', 'nkillter', 'injuries', 'nwoundus', 'nwoundte', 'property',
       'propextent', 'propextent_txt', 'propcomment', 'ishostkid', 'ransom',
       'scite1', 'scite2', 'dbsource', 'INT_LOG', 'INT_IDEO', 'INT_MISC',
       'INT_ANY'],
      dtype='object')

In [23]:
df['Casualities'] = df['fatalities']+ df['injuries']

In [24]:
df_most_selected = df[['Year','Month','Day','Country','state','Region','AttackType','Target','fatalities','injuries','success','Summary','Group','Weapon','Casualities','city','longitude','latitude']]

In [25]:
# Selcting the variables on which analysis will be performed
df_most_selected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 18 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Year         181691 non-null  int64
 1   Month        181691 non-null  int64
 2   Day          181691 non-null  int64
 3   Country      181691 non-null  object
 4   state        181270 non-null  object
 5   Region       181691 non-null  object
 6   AttackType   181691 non-null  object
 7   Target       181691 non-null  object
 8   fatalities   171378 non-null  float64
 9   injuries     165380 non-null  float64
 10  success      181691 non-null  int64
 11  Summary      115562 non-null  object
 12  Group        181691 non-null  object
 13  Weapon       181691 non-null  object
 14  Casualities  164817 non-null  float64
 15  city         181256 non-null  object
 16  longitude    177134 non-null  float64
 17  latitude     177135 non-null  float64
dtypes: float64(5), int64(4), object(9)
memory usage: 25.0+ MB

In [26]:
# checking statits paramenter on continious variables of data frame
df_most_selected.describe()

,Year,Month,Day,fatalities,injuries,success,Casualities,longitude,latitude
count,181691.000000,181691.000000,181691.000000,171378.000000,165380.000000,181691.000000,164817.000000,1.771340e+05,177135.000000
mean,2002.638997,6.467277,15.505644,2.403272,3.167668,0.889598,5.296128,-4.586957e+02,23.498343
std,13.259430,3.388303,8.814045,11.545741,35.949392,0.313391,42.069023,2.047790e+05,18.569242
min,1970.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-8.618590e+07,-53.154613
25%,1991.000000,4.000000,8.000000,0.000000,0.000000,1.000000,0.000000,4.545640e+00,11.510046
50%,2009.000000,6.000000,15.000000,0.000000,0.000000,1.000000,1.000000,4.324651e+01,31.467463
75%,2014.000000,9.000000,23.000000,2.000000,2.000000,1.000000,4.000000,6.871033e+01,34.685087
max,2017.000000,12.000000,31.000000,1570.000000,8191.000000,1.000000,9574.000000,1.793667e+02,74.633553

### Inference- **Iraq is most attacked country was terrorist followed by Pakistan and Afghanistan and in india india is nearly around 13k.**

## **GLOBAL WISE ATTACKS**

### **1 . Year wise attack**

In [ ]:
Attacks = df_most_selected['Year'].value_counts(dropna = False).sort_index().reset_index().rename(columns = {"index":"Year", "Year":"Attacks"}).set_index("Year")

In [ ]:
Attacks